:root {
    --iris: #4d5ae5;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  
  .link {
    text-decoration: none;
  }
  
  .logotext {
    color: #2e2f42;
  }
  
  .list {
    list-style: none;
  }
  
  .nav-item .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .nav-contact .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .link:hover {
    color: #404bbf;
  }
  
  .link:focus {
    color: #404bbf;
  }
  
  .contacts {
    font-style: normal;
  }
  
  .first-section {
    background-color: #2e2f42;
  }
  
  .header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
  }
  
  .button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #404bbf;
  }
  
  .button:focus {
    background-color: #404bbf;
  }
  
  .list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .third-header,
  .fourth-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  
  .fourth-section {
    background-color: #F4F4FD;
  }
  
  .list .list-item {
    background-color: #fff;
  }
  
  .footer {
    background-color: #2e2f42;
    padding-left: 264px;
    padding-top: 112px;
    
  }
  .footer .logo-footer-text {
    padding-bottom: 112px;
    
  }
  
  .footer .logo-footer-text {
    line-height: 1.5;
    color: #f5f5ff;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding-bottom: 112px;
  }
  .footer .logo-footer{
    color: #F4F4FD;
  }
  
  .btn-menu {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #f4f4fd;
    cursor: pointer;
  }
  
  .btn-menu:hover {
    color: #ffffff;
    background-color: #404bbf;
  }
  
  .btn-menu:focus {
    color: #ffffff;
    background-color: #404bbf;
  }
  
  .list .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .list .list-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    text-align: center;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
   
  }
 
  .nav-container .logo-link {
    padding-left: 156px;
    
  }
  .logo-link {
    margin-right: 76px;
  }
  .nav-content {
    display: flex;
    align-items: center;
    
  }
  
    

  .nav-list li {
    
    padding: 24px 0 24px;
    list-style-type: none;
    align-items: center;
    
   
  }
  .nav-content ul {
    display: flex;
    gap: 40px;
  }
  .nav-content li {
    margin-right: 40px;
  }
  .nav-content li:nth-last-child {
    margin-right: 0;
  }
  .nav-container .contacts {
    display: flex;
    gap: 40px;
  }
  .contacts li {
    margin-right: 40px;
    display: flex;
    
  }
  .contacts li:nth-last-child {
    margin-right: 0;
  }
  .contacts ul {
    display: flex;
    gap: 40px;
  }

.first-container {
    flex-direction: column;
    display: flex;
    padding: 188px 0 188px;
}

.first-container .header {
  font-size: 56px;
  height: 60px;
  letter-spacing: %2;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
  
  
}
.first-container .button {
  
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border-radius: 4px;
  display: block;
}
.button {
  padding: 16px, 32px, 16px, 32px;
  width: 169px;
  height: 56px;
  
  border: none;
  cursor: pointer;
}
.first-container .header,
.first-container .button {
  margin-bottom: 56px;
  display: flex;
}
.list-container {
  display: flex;
}
.list-container ul{
  gap: 24px;
  display: flex;
}
.list-header,
.list-text {
  margin-bottom: 8px;
} 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  

.second-section li{
  list-style-type: none;
  margin-right: 24px;
  display: flex;
  width: calc((100% - 72px) / 4);
  
}

.third-section {
  padding: 120px 0 120px;
  justify-content: space-between;
  padding-right: 0%;
}
.team-container .third-header {
  margin-bottom: 72px;
}

.team-container ul {
  display: flex;
  gap: 24px;
  
  width: calc((100% - 72px) / 4);
}
.team-container .team-box {
  padding: 32px 0 32px;
}
.third-section li {
  list-style-type: none;
  padding: 32px;
  border-radius: 4px;
  margin-right: 24px; 
  border-radius: 0px 0px 4px 4px;
}


.team-box .list-header {
  margin-bottom: 8px;
  text-align: center;
}
.team-box .list-text {
  text-align: center;
}
.port-container {
  
  border: 1px solid #e7e9fc;
  
  padding: 120px 0 120px 0
  
}

.box-up ,
.box-down {
border: 1px solid #e7e9fc;
border-top: none;
}

.port-container .fourth-header {
  margin-bottom: 72px;
}
.port-container ul {
  display: flex;
  
  
  
}
.port-container li {
  list-style-type: none;
  margin-bottom: 48px;
  margin-right: 24px;
  width: calc((100% - 48px) / 3);
  row-gap: 48px;
  column-gap: 24px;
flex-wrap: wrap;

}
.port-container li:nth-last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.port-container .list-title {
  margin-bottom: 8px;
}
.list-title,
.list-text {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer .footer-container {
  padding: 100px 0 100px;
  
}
.footer-container .logo link {
margin-bottom: 16px;
display: inline-block;
}
.footer-container .logo-footer-text {
  max-width: 264px;
  
}
