:root {
    --iris: #4d5ae5;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  
  .link {
    text-decoration: none;
  }
  
  .logotext {
    color: #2e2f42;
  }
  
  .list {
    list-style: none;
  }
  
  .nav-item .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .nav-contact .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .link:hover {
    color: #404bbf;
  }
  
  .link:focus {
    color: #404bbf;
  }
  
  .contacts {
    font-style: normal;
  }
  
  .first-section {
    background-color: #2e2f42;
  }
  
  .header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
  }
  
  .button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #404bbf;
  }
  
  .button:focus {
    background-color: #404bbf;
  }
  
  .list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .third-header,
  .fourth-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  
  .fourth-section {
    background-color: #F4F4FD;
  }
  
  .list .list-item {
    background-color: #fff;
  }
  
  .footer {
    background-color: #2e2f42;
    padding-left: 264px;
    padding-top: 112px;
    
  }
  .footer .logo-footer-text {
    padding-bottom: 112px;
    
  }
  
  .footer .logo-footer-text {
    line-height: 1.5;
    color: #f5f5ff;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding-bottom: 112px;
  }
  .footer .logo-footer{
    color: #F4F4FD;
  }
  
  .btn-menu {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #f4f4fd;
    cursor: pointer;
  }
  
  .btn-menu:hover {
    color: #ffffff;
    background-color: #404bbf;
  }
  
  .btn-menu:focus {
    color: #ffffff;
    background-color: #404bbf;
  }
  
  .list .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .list .list-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 24px 0;
    
  }
  .navbar .logotext {
    color: #2E2F42;
    margin-right: 76px;

  }
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar li  {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 40px;
  }
  .nav-container .list {
    width: 1158px;
    margin: 0;
    padding: 0 15px;
    gap: 40px;
  }
    
  
  .contacts ul {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .navbar .list {
    gap: 40px;
  }
  .contacts .nav-contact {
    display: flex;
    
  }
  .logo-link {
    padding-left: 156px;
  }
.first-section {
  width: 1650px;
  height: 600px;
  display: flex;
  flex-direction: column;
  display: flex;

}


.first-section .header {
  font-size: 56px;
  height: 60px;
  letter-spacing: %2;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 472px;
  padding-top: 260px;
  max-width: 496px;
  
}
.first-container .button {
  display: block;
  padding: 16px, 32px, 16px, 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.first-container .header,
.first-container .button {
  margin-bottom: 56px;
  display: flex;
 

.second-section {
  width: 1650px;
  height: 600px;
  padding: 120px 0 120px;
 
  

}
.second-section li{
  list-style-type: none;
  
}
.second-section .list {
  text-align: center;
  display: flex;
  padding-left: 156px;
  padding-top: 500px;
}
.third-section {
  padding-top: 1016px;
  justify-content: space-between;
  padding-right: 0%;
}
.third-section .team-list {
  display: flex;
  text-align: center;
}

.third-section li {
  list-style-type: none;
  padding: 32px;
  border-radius: 4px;
}
.fourth-section {
padding-top: 800px;
padding-left: 156px;
border: 1px;
}
.port-up ,
.port-down {
border: 1px solid #e7e9fc;
border-top: none;
}

.fourth-header {
  margin-bottom: 72px;
}
.fourth-section .port-up {
  display: flex;
  text-align: center;
  padding: 120px 0 120px 0;

}
.port-up ul {
  display: flex;
  flex-wrap: wrap;
}
.port-down ul {
display: flex;
flex-wrap: wrap;
row-gap: 48px;
}
.port-up ,
.port-down .list-title {
  margin-bottom: 8px
}
.port-up ,
.port-down li {
  margin-right: 24px;
}
.fourth-section .port-down {
  display: flex;
  text-align: center;
  padding: 120px 0 120px 0;
}
.fourth-section li {
list-style-type: none;
padding: 32px;
  border-radius: 4px;
}
.footer {
  width: 1440px;
height: 312px;

}
.footer .footer-container {
  padding: 100px 0 100px;
  
}
.footer-container .logo link {
margin-bottom: 16px;
display: inline-block;
}
.footer-container .logo-footer-text {
  max-width: 264px;
  
}
